body{
  padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
    align-items: center;
}

.logo{
    color: rgb(117, 101, 101);
   /* grid-column: 3/2;*/
}
.menu{
    grid-column: 3/4;
}
.main{
    padding: 5px;
    width: 100%;
    height: 250px;
    background-color: coral;
    display: grid;
    align-items: center;
}
.intro_text p{
    color: rgb(255, 253, 247);
}
.intro_text h1{
    color: cornsilk;
}
.intro_text button{
    width: 100px;
    height: 40px;
    background-color: cornsilk;
    border: solid 1px white;
}